<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.laundry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laundry"
        tools:targetApi="31">
        <activity
            android:name=".login.login_form"
            android:exported="false" />
        <activity
            android:name=".laporan.data_laporan"
            android:exported="false" />
        <activity
            android:name=".pelanggan.data_pelanggan"
            android:exported="false" /> <!-- Correct activities -->
        <activity
            android:name=".layanan.tambah_layanan"
            android:exported="false" />
        <activity
            android:name=".layanan.data_layanan"
            android:exported="false" />
        <activity
            android:name=".pelanggan.tambah_pelanggan"
            android:exported="false" />
        <activity
            android:name=".pegawai.tambah_pegawai"
            android:exported="false" />
        <activity
            android:name=".pegawai.data_pegawai"
            android:exported="false" />
        <activity
            android:name=".Beranda_laundry"
            android:exported="false" />
        <activity
            android:name=".login_form"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>